.cover-frame-advantages .cover-frame-content-shadow{
  background: -webkit-radial-gradient(rgba(0,0,0,0.5) 30%, transparent 70%); /* Safari 5.1 to 6.0 */
  background: -o-radial-gradient(rgba(0,0,0,0.5) 30%, transparent 70%); /* For Opera 11.6 to 12.0 */
  background: -moz-radial-gradient(rgba(0,0,0,0.5) 30%, transparent 70%); /* For Firefox 3.6 to 15 */
  background: radial-gradient(rgba(0,0,0,0.5) 30%, transparent 70%); /* Standard syntax */
}
.cover-frame-advantages .cover-frame-footer-side-link {
  padding-right: 100px;
}
.cover-frame-advantages .cover-frame-footer-side-link::after {
  content: " ";
  position: absolute;
  right: 0;
  top: -10px;
  display: block;
  width: 80px;
  height: 80px;
  background: url('../img/svg/info.svg');
  background-size: 80px 80px;
}
.cover-frame-advantages .cover-frame-footer-side-link:hover::after {
  background: url('../img/svg/info-hover.svg');
}
.cover-frame-advantages .cover-frame-slide {
  background-image: url('../img/advantages/cover-slide1.jpg');
}
