.cover-frame-application .cover-frame-content-shadow {
  background: none;
}
.cover-frame-application .cover-frame-content {
  color: black;
}
.cover-frame-application .cover-frame-content h1 {
  text-shadow: none;
  font-weight: normal;
}
.cover-frame-application .cover-frame-content h1 a {
  display: inline-block;
  margin: 20px auto;
}
.cover-frame-application .cover-frame-content h1 a:after {
  border-bottom-width: 3px;
}
.cover-frame-application .cover-frame-content p {
  font-style: normal;
  font-size: 28px;
  margin-bottom: 25px;
}
.cover-frame-application-phone {
  font-size: 37px;
  font-style: normal;
}
