/*
 * Utilities
 */
@import 'fonts.css';
@import 'nav.css';
@import 'slides.css';
@import 'slick.css';

/*
 * Frames
 */
@import 'main.css';
@import 'plan.css';
@import 'atmosphere.css';
@import 'advantages.css';
@import 'map.css';
@import 'application.css';

/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: white;
  color: white;
  font-family: 'Lora', sans;
  font-style: italic;
}
body {
  text-align: center;
}

.wrapper {
  height: 100%;
  position: relative;
}

section {
  height: 100%;
  padding-top: 95px;
}

section:nth-of-type(2) { top: -95px; }
section:nth-of-type(3) { top: -190px; }
section:nth-of-type(4) { top: -285px; }
section:nth-of-type(5) { top: -380px; }
section:nth-of-type(6) { top: -475px; }

.cover-frame-wrapper {
  position: absolute;
  width: 100%;
  top: 95px;
  bottom: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 3;
}
.cover-frame-container {
  position: relative;
  display: table;
  width: 100%;
  height: 100%;
}

.cover-frame-content {
  position: relative;
  z-index: 5;
  padding: 0 120px;
  display: table-cell;
  vertical-align: middle;
}

.cover-frame-content-shadow {
  background: -webkit-radial-gradient(rgba(0,0,0,0.7) 30%, transparent 70%); /* Safari 5.1 to 6.0 */
  background: -o-radial-gradient(rgba(0,0,0,0.7) 30%, transparent 70%); /* For Opera 11.6 to 12.0 */
  background: -moz-radial-gradient(rgba(0,0,0,0.7) 30%, transparent 70%); /* For Firefox 3.6 to 15 */
  background: radial-gradient(rgba(0,0,0,0.7) 30%, transparent 70%); /* Standard syntax */
}

.cover-frame-content h1 {
  font-weight: bold;
  font-size: 76px;
  margin-top: 0;
  margin-bottom: 20px;
  line-height: 1.1;
  text-shadow: 0 0 100px black;
}
.cover-frame-content p {
  font-size: 42px;
  margin: 0;
}
.cover-frame-content p.alone {
  padding: 40px 0;
}

.cover-frame-footer {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 230px;
  width: 100%;
  z-index: 4;

  background: -webkit-linear-gradient(transparent 0%, black 160%); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(transparent 0%, black 160%); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(transparent 0%, black 160%); /* For Firefox 3.6 to 15 */
  background: linear-gradient(transparent 0%, black 160%); /* Standard syntax */
}
.cover-frame-footer-next-link,
.cover-frame-footer-next-link:focus {
  display: block;
  width: 320px;
  margin: 110px auto 0;
  color: white;
  text-decoration: none;
  font-size: 37px;
}
.cover-frame-footer-next-link:hover {
  color: #d7df23;
  text-decoration: none;
}
.cover-frame-footer-next-link::after {
  content: " ";
  display: block;
  margin: 15px auto 0;
  width: 0;
  height: 0;
  border-top: 28px solid white;
  border-left: 57px solid transparent;
  border-right: 57px solid transparent;
}
.cover-frame-footer-next-link:hover::after {
  border-top-color: #d7df23;
}
.cover-frame-footer-side-link,
.cover-frame-footer-side-link:focus {
  position: absolute;
  right: 50px;
  bottom: 60px;
  display: block;
  color: white;
  text-decoration: none;
  font-size: 21px;
  text-align: right;
}
.cover-frame-footer-side-link:hover {
  color: #d7df23;
  text-decoration: none;
}
