.cover-frame-main {
  background-image: url("../img/main-cover.jpg");
  font-style: italic;
}
.cover-frame-main .cover-frame-inner-container{
  background: -webkit-radial-gradient(rgba(0,0,0,0.7) 30%, transparent 70%); /* Safari 5.1 to 6.0 */
  background: -o-radial-gradient(rgba(0,0,0,0.7) 30%, transparent 70%); /* For Opera 11.6 to 12.0 */
  background: -moz-radial-gradient(rgba(0,0,0,0.7) 30%, transparent 70%); /* For Firefox 3.6 to 15 */
  background: radial-gradient(rgba(0,0,0,0.7) 30%, transparent 70%); /* Standard syntax */
}
.cover-frame-main-scoll-icon {
  width: 132px;
}
.cover-frame-main h1 {
  font-weight: bold;
  font-size: 76px;
  margin-bottom: 20px;
  text-shadow: 0 0 100px black;
}
.cover-frame-main p {
  font-size: 42px;
  margin-bottom: 0;
}
