@import 'navbar/burger-button.css';
@import 'navbar/application-form.css';
@import 'navbar/sliding-popup.css';

.navbar {
  height: 95px;
  width: 100%;
  border: 0;
  color: black;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
}
.navbar .navbar-header{
  background: white;
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 21;
}
.navbar .navbar-brand {
  font-size: 12pt;
  font-family: 'Lighthaus', sans;
  position: relative;
  float: none;
  display: inline-block;
  height: 95px;
  padding: 34px 34px;
  box-sizing: border-box;
}
.navbar .navbar-brand>img {
  height: 27px;
  display: inline-block;
}

.navbar .burger-button {
  position: absolute;
  left: 40px;
  top: 50%;
  margin-top: -19px;
}

.navbar .navbar-contacts {
  position: absolute;
  right: 40px;
  top: 50%;
  margin-top: -27px;
  text-align: right;
  font-size: 20px;
  line-height: 27px;
}
.navbar .navbar-contacts span {
  font-style: normal;
}
.navbar .navbar-contacts a.link {
  font-style: italic;
}
.navbar .navbar-contacts .navbar-contacts-phone {
  display: block;
}
