@import 'burger-button.css';

.navbar {
  height: 95px;
  width: 100%;
  border: 0;
  color: black;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
}
.navbar .navbar-header{
  background: white;
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 21;
}
.navbar .navbar-brand {
  font-size: 12pt;
  font-family: 'Lighthaus', sans;
  position: relative;
  float: none;
  display: inline-block;
  height: 95px;
  padding: 34px 34px;
  box-sizing: border-box;
}
.navbar .navbar-brand>img {
  height: 27px;
  display: inline-block;
}

.navbar .burger-button {
  position: absolute;
  left: 40px;
  top: 50%;
  margin-top: -19px;
}

.navbar .navbar-contacts {
  position: absolute;
  right: 40px;
  top: 50%;
  margin-top: -27px;
  text-align: right;
  font-size: 20px;
  line-height: 27px;
}
.navbar .navbar-contacts span {
  font-style: normal;
}
.navbar .navbar-contacts a.link {
  font-style: italic;
}
.navbar .navbar-contacts .navbar-contacts-phone {
  display: block;
}

.navbar-sliding-menu,
.navbar-sliding-popup {
  background: white;
  position: fixed;
  padding-top: 8%;
  height: 100%;
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
  z-index: 20;

  top: -100%;
  transition: all 500ms ease-in-out;
}
.navbar-sliding-menu {
  padding-bottom: 8%;
}

.navbar-sliding-menu.active,
.navbar-sliding-popup.active{
  top: 0;
}
.navbar-sliding-menu ul {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  height: 100%;

  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column; /* works with row or column */
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.navbar-sliding-menu ul li {
  display: block;
  width: 100%;
  text-align: center;

  -webkit-flex: 1 0 0;
  flex: 1 0 0;
}
.navbar-sliding-menu ul li a {
  position: relative;
  display: inline-block;
  padding: 0 100px;
  font-size: 75px;
  font-style: italic;
  text-decoration: none;

  color: white;
  transition: all 500ms ease-in-out;
}
.navbar-sliding-menu.active ul li a {
  color: black;
}
.navbar-sliding-menu ul li a::after {
  content: " ";
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  width: 0;
  height: 4px;
  background: url('../img/menu-hover-bg.png') center;

  /* TODO: try to replace background above with dashed border.

    border-bottom: 3px dashed gray;
    opacity: 0.7;
  */

  -webkit-transition: all 0.3s ease 0.1s;
  -moz-transition: all 0.3s ease 0.1s;
  transition: all 0.3s ease 0.1s;
}
.navbar-sliding-menu ul li a:hover::after {
  width: 100%;
  left: 0;
}
.navbar-sliding-popup {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column; /* works with row or column */
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.navbar-sliding-popup h1 {
  max-width: 1024px;
  min-width: 340px;
  margin-left: auto;
  margin-right: auto;
  font-weight: normal;
  font-size: 70px;
  margin-top: 0px;
}
.navbar-sliding-popup p {
  width: 90%;
  max-width: 1280px;
  min-width: 300px;
  margin-left: auto;
  margin-right: auto;
  font-style: normal;
  font-size: 20px;
}

@media only screen and (min-width: 300px) {
  .navbar-sliding-popup h1 {
    font-size: 20px;
  }
  .navbar-sliding-popup p {
    font-size: 10px;
  }
}
@media only screen and (min-width: 360px) {
  .navbar-sliding-popup h1 {
    font-size: 30px;
  }
  .navbar-sliding-popup p {
    font-size: 12px;
  }
}
@media only screen and (min-width: 600px) {
  .navbar-sliding-popup h1 {
    font-size: 36px;
  }
  .navbar-sliding-popup p {
    font-size: 18px;
  }
}
@media only screen and (min-width: 720px) {
  .navbar-sliding-popup h1 {
    font-size: 48px;
  }
  .navbar-sliding-popup p {
    font-size: 20px;
  }
}
@media only screen and (min-width: 1024px) {
  .navbar-sliding-popup h1 {
    font-size: 56px;
  }
  .navbar-sliding-popup p {
    font-size: 18px;
  }
}
@media only screen and (min-width: 1444px) {
  .navbar-sliding-popup h1 {
    font-size: 70px;
  }
  .navbar-sliding-popup p {
    font-size: 20px;
  }
}
@media only screen and (min-width: 1900px) {
  .navbar-sliding-popup h1 {
    font-size: 70px;
  }
  .navbar-sliding-popup p {
    font-size: 24px;
  }
}

.application-form-input {
  margin-bottom: 50px;
  position: relative;
  text-align: center;
  width: 100%;
}

.application-form-editable,
.application-form-input-dummy {
  color: black;
  font-family: 'Lora';
  font-style: italic;
  font-size: 76px;
  display: inline-block;
  border: 0;
  outline: none;
  text-align: center;
}
.application-form-editable {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: none;
}
.application-form-editable::-webkit-input-placeholder { color: black; }
.application-form-editable:-moz-placeholder { color: black; }
.application-form-editable::-moz-placeholder { color: black; }
.application-form-editable:-ms-input-placeholder { color: black; }
.application-form-editable:focus::-webkit-input-placeholder { color: gray; }
.application-form-editable:focus:-moz-placeholder { color: gray; }
.application-form-editable:focus::-moz-placeholder { color: gray; }
.application-form-editable:focus:-ms-input-placeholder { color: gray; }

.application-form-input-dummy {
  color: white;
  position: relative;
  display: inline-block;
  border-bottom: 3px dashed black;
  line-height: 88px;
}

.application-success {
  display: none;
}
