@import 'navbar/burger-button.css';
@import 'navbar/application-form.css';
@import 'navbar/sliding-popup.css';
@import 'navbar/floor-plan.css';

.navbar {
  height: 95px;
  width: 100%;
  border: 0;
  color: black;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
}
.navbar .navbar-header{
  background: white;
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 21;
}
.navbar .navbar-brand {
  font-size: 12pt;
  font-family: 'Lighthaus', sans;
  position: relative;
  float: none;
  display: inline-block;
  height: 95px;
  padding: 34px 34px;
  box-sizing: border-box;
}
.navbar .navbar-brand>img {
  height: 27px;
  display: inline-block;
}

.navbar .burger-button {
  position: absolute;
  left: 40px;
  top: 50%;
  margin-top: -19px;
}

.navbar .navbar-contacts {
  position: absolute;
  right: 40px;
  top: 50%;
  margin-top: -25px;
  text-align: right;
  font-size: 14px;
  line-height: 17px;
}
.navbar .navbar-contacts span {
  font-style: normal;
}
.navbar .navbar-contacts a.link {
  font-style: italic;
}
.navbar .navbar-contacts .navbar-contacts-phone {
  display: block;
}

.carousel-content {
  height: 600px;
  background: url('../../img/main-cover.jpg') center no-repeat;
  background-size: contain;

  -webkit-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7);

  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  opacity: 0.5;
}
