.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background: white;
}
.preloader-image {
  display: block;
  width: 458px;
  max-width: 90%;
  height: 128px;
  position: relative;
  top: 50%;
  margin: -64px auto 0;
  z-index: 10;
  background-size: contain;
}
.preloader .wrap2 {
  -webkit-perspective: 250px;
  perspective: 250px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -40px;
  margin-top: -40px;
  z-index: -10;
  pointer-events: none;
}

.preloader .boxcube2 {
  position: relative;
  width: 80px;
  -webkit-transform-style: preserve-3d;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transform-origin: 40px 40px 0px;
  -webkit-transform-origin: 40px 40px 0px;
  -webkit-animation: spin 2s infinite cubic-bezier(0.64, 0.57, 0.67, 1.53);
}

.preloader .boxcube2 div {
  position: absolute;
  width: 80px;
  height: 80px;
  color: white;
  text-align: center;
  line-height: 80px;
  font-size: 34px;
}

.preloader .boxfront {
  -webkit-transform: translateZ(40px);
}

.preloader .boxback {
  -webkit-transform: translateZ(-40px) rotateY(180deg);
}

.preloader .boxtop {
  -webkit-transform: rotateX(-90deg) translateY(-40px);
  -webkit-transform-origin: top center;
}

.preloader .boxbottom {
  -webkit-transform: rotateX(90deg) translateY(40px);
  -webkit-transform-origin: bottom center;
}

.preloader .boxleft {
  -webkit-transform: rotateY(270deg) translateX(-40px);
  -webkit-transform-origin: center left;
}

.preloader .boxright {
  -webkit-transform: rotateY(-270deg) translateX(40px);
  -webkit-transform-origin: top right;
}

.preloader .face2 {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.2;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotateX(-10deg);
  }
  9% {
    -webkit-transform: rotateX(0deg);
  }
  91% {
    -webkit-transform: rotateX(360deg);
  }
  100% {
    -webkit-transform: rotateX(350deg);
  }
}
