.fp-slidesNav.bottom {
  left: 50px;
  bottom: 30px;
  margin-left: 0 !important;
}
.fp-slidesNav.bottom ul li {
  width: 26px;
  height: 26px;
  border-radius: 13px;
  background: white;
  border-width: 0;
  margin: 0 8px;
}
.fp-slidesNav.bottom ul li a span,
.fp-slidesNav.bottom ul li:hover a span,
.fp-slidesNav.bottom ul li:hover a.active span {
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  margin: 0;
}
.fp-slidesNav.bottom ul li a span {
  opacity: 0;
  background: #a7a9ac;

  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.fp-slidesNav.bottom ul li a.active span,
.fp-slidesNav.bottom ul li:hover a span {
  opacity: 1;
}
.fp-slidesNav ul li:hover a:not(.active) span {
  background: #d7df23;
}
.fp-controlArrow.fp-prev,
.fp-controlArrow.fp-next {
  position: absolute;
  top: 50%;
  width: 40px;
  height: 75px;
  margin-top: -20px;
  box-sizing: content-box;
  border: 0;
  padding: 30px;
}
.fp-controlArrow.fp-prev {
  left: 40px;
}
.fp-controlArrow.fp-prev::before,
.fp-controlArrow.fp-prev::after,
.fp-controlArrow.fp-next::before,
.fp-controlArrow.fp-next::after {
  content: " ";
  background: white;
  position: absolute;
  top: 50%;
  display: block;
}
.fp-controlArrow.fp-prev:hover::before,
.fp-controlArrow.fp-prev:hover::after,
.fp-controlArrow.fp-next:hover::before,
.fp-controlArrow.fp-next:hover::after {
  background: #d7df23;
}
.fp-controlArrow.fp-prev::before {
  left: 49px;
  margin-top: -9px;
  height: 54px;
  width: 2px;

  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.fp-controlArrow.fp-prev::after {
  left: 23px;
  margin-top: -20px;
  height: 2px;
  width: 54px;

  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.fp-controlArrow.fp-next {
  right: 40px;
}
.fp-controlArrow.fp-next::before {
  right: 49px;
  margin-top: -9px;
  height: 54px;
  width: 2px;

  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.fp-controlArrow.fp-next::after {
  right: 23px;
  margin-top: -20px;
  height: 2px;
  width: 54px;

  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.slides-nav-icon {
  position: absolute;
  left: 50px;
  bottom: 36px;
  width: 163px;
  z-index: 4;
}
