.floor-plan {
  width: 100%;
}
.floor-plan-content {
  position: relative;
  height: 450px;
}
.floor-plan-content svg{
  position: absolute;
  width: 708px;
  height: 100%;
  left: 50%;
  margin-left: -354px;
  top: 0;
}

.floor-plan-content .flat {
  stroke-width: 0;
  clip-rule: evenodd;
  fill: white;
  stroke: black;
  stroke-miterlimit: 10;
  opacity: 0;
  outline: none;
}
.floor-plan-content .flat:hover {
  opacity: 0.2;
}
.floor-plan-content .flat:not(.booked):hover {
  cursor: pointer;
}

.floor-plan-selector {
  margin-top: 50px;
  font-size: 25px;
}
.floor-plan-selector-list {
  list-style-type: none;
  margin: 20px auto;
  padding: 0;
  text-align: center;
}
.floor-plan-selector-list li {
  display: inline-block;
}
.floor-plan-selector-list li a {
  display: block;
  width: 60px;
  height: 60px;
  line-height: 60px;
  box-sizing: border-box;
  border-radius: 30px;
  text-align: center;
  color: white;
  background: black;
  margin: 0 13px;
  font-size: 25px;
  font-style: normal;
  text-decoration: none;
}
.floor-plan-selector-list li:hover a,
.floor-plan-selector-list li.active a {
  background: #6c6d70;
}
