.sliding-popup {
  background: white;
  position: fixed;
  padding-top: 95px;
  height: 100%;
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
  z-index: 20;

  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: column;
  -webkit-flex-direction: column; /* works with row or column */
  flex-direction: column;
  -ms-flex-line-pack: center;
  -webkit-align-items: center;
  align-items: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;

  top: -100%;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}
.sliding-popup-scrollable-area {
  overflow: auto;
}

.sliding-popup.active{
  top: 0;
}
.sliding-popup-menu {
  list-style-type: none;
  margin: 0 auto;
  height: 100%;
  padding: 8% 0;
  box-sizing: border-box;

  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: column;
  -webkit-flex-direction: column; /* works with row or column */
  flex-direction: column;
  -ms-flex-line-pack: center;
  -webkit-align-items: center;
  align-items: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.sliding-popup-menu li {
  display: block;
  width: 100%;
  text-align: center;

  -ms-flex: 1;
  -webkit-flex: 1 0 0;
  flex: 1 0 0;
}
.sliding-popup-menu li a {
  position: relative;
  display: inline-block;
  padding: 0 40px;
  font-size: 33px;
  font-style: italic;
  text-decoration: none;

  color: white;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}
.sliding-popup-menu li a {
  color: black;
}
.sliding-popup-menu li a::after {
  content: " ";
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  width: 0;
  height: 4px;
  background: url('../../img/menu-hover-bg.png') center;

  /* TODO: try to replace background above with dashed border.

    border-bottom: 3px dashed gray;
    opacity: 0.7;
  */

  -webkit-transition: all 0.3s ease 0.1s;
  transition: all 0.3s ease 0.1s;
}
.sliding-popup-menu li a:hover::after {
  width: 100%;
  left: 0;
}
.sliding-popup-menu li a.disabled {
  color: gray;
  cursor: default;
}
.sliding-popup-menu li a.disabled:hover::after {
  width: 0;
}

.sliding-popup h1 {
  max-width: 1024px;
  min-width: 340px;
  margin-left: auto;
  margin-right: auto;
  font-weight: normal;
  font-size: 70px;
  margin-top: 0px;
}
.sliding-popup p {
  width: 90%;
  max-width: 1280px;
  min-width: 300px;
  margin-left: auto;
  margin-right: auto;
  font-style: normal;
  font-size: 20px;
}
