@media screen and (min-width: 1280px) and (max-width: 1599px) {
  .cover-frame-content h1,
  .application-form-editable,
  .application-form-input-dummy {
    font-size: 50px;
  }
  .cover-frame-content p {
    font-size: 30px;
  }
  .application-form-input {
    margin-bottom: 25px;
  }
  .application-form-input-dummy {
    line-height: 56px;
  }
  .application-form button {
    margin-top: 25px;
  }
  .cover-frame-content {
    padding: 0 180px;
  }
  .cover-frame-content-wide {
    padding: 0 100px;
  }
  /*

  .navbar-sliding-menu ul,
  .navbar-sliding-popup ul {
    padding: 20px 0;
  }
  .navbar-sliding-menu ul li a,
  .navbar-sliding-popup ul li a {
    font-size: 21px;
  }
  .floor-plan-container {
    height: 300px;
  }
  .cover-frame-map-transports-icon {
    width: 165px;
    height: 44px;
  }
  .cover-frame-map-pin-icon {
    width: 100px;
    height: 140px;
  }*/
}

@media screen and (min-width: 1600px) {
  
}
