/* Portrait */
@media only screen and (min-width: 600px) and (max-width: 1023px) and (orientation: portrait) {
  .big-screens {
    display: none;
  }
  .sliding-popup h1 {
    font-size: 35px;
  }
  .sliding-popup p {
    font-size: 21px;
  }
  .sliding-popup-menu {
    padding: 19% 0 27%;
  }
  .navbar .navbar-contacts {
    display: none;
  }
  .cover-frame-content h1,
  .application-form-editable,
  .application-form-input-dummy {
    font-size: 45px;
  }
  .cover-frame-content p {
    font-size: 25px;
  }
  .application-form-input {
    margin-bottom: 20px;
  }
  .application-form-input-dummy {
    line-height: 49px;
  }
  .button:hover {
    color: white;
  }
  .button:hover::after {
    height: 0;
    opacity: 0;
  }
  .application-form button {
    margin-top: 20px;
  }
  .cover-frame-content {
    padding: 0 100px;
  }
  .cover-frame-content-wide {
    padding: 0 30px;
  }
  .fp-controlArrow.fp-prev {
    left: 0px;
  }
  .fp-controlArrow.fp-next {
    right: 0px;
  }
  .fp-slidesNav.bottom ul li a span {
    background: black;
  }
  .cover-frame-footer-side-link {
    display: none;
  }
  .cover-frame-map .cover-frame-wrapper {
    pointer-events: auto;
  }
}

/* Landscape */
@media only screen and (min-width: 960px) and (max-width: 1279px) {
  .big-screens {
    display: none;
  }
  .sliding-popup h1 {
    font-size: 30px;
  }
  .sliding-popup p {
    font-size: 20px;
  }
  .cover-frame-content h1,
  .application-form-editable,
  .application-form-input-dummy {
    font-size: 40px;
  }
  .cover-frame-content p {
    font-size: 25px;
  }
  .application-form-input {
    margin-bottom: 20px;
  }
  .application-form-input-dummy {
    line-height: 44px;
  }
  .button:hover {
    color: white;
  }
  .button:hover::after {
    height: 0;
    opacity: 0;
  }
  .application-form button {
    margin-top: 20px;
  }
  .cover-frame-content {
    padding: 0 180px;
  }
  .cover-frame-content-wide {
    padding: 0 100px;
  }
  .cover-frame-map-transports-icon {
    width: 165px;
    height: 44px;
  }
  .cover-frame-map-pin-icon {
    width: 100px;
    height: 140px;
  }
  .cover-frame-map .cover-frame-wrapper {
    pointer-events: auto;
  }
}
