#powerTip {
  background-color: white;
  border-radius: 26px;
  color: black;
  padding: 0 40px;
  height: 60px;
  line-height: 60px;
  box-sizing: border-box;
  font-size: 25px;
  font-style: normal;
}
